/* Agent Listing Filte */
.cs-agent-filter {
	width: 100%;
	float: left;
	padding: 15px;
	margin: 0 0 12px 0;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}
.cs-agent-filter .filter-nav {
	width: 100%;
	float: left;
	background-color: #fff;
}
.cs-agent-filter ul {
    padding: 10px 0 0 0;
}
.cs-agent-filter ul li {
	float: left;
	list-style: none;
	position: relative;
	line-height: 20px;
}
.cs-agent-filter ul li.our-agents a {
	float: left;
	color: #303030;
	font-weight: 700;
	font-size: 16px;
	margin: 0 15px 0 0;
}
.cs-filter-menu li:before {
    color: #e7e7e7;
    content: "/";
    position: absolute;
    left: -12px;
    top: 0;
}
.filter-nav ul li.our-agents:before {
    display: none;
}
.cs-agent-filter ul li:nth-child(2):before,
.cs-agent-filter ul li:nth-child(3):before {
    display: none;
}
.cs-agent-filter ul li:nth-child(1):hover a {
	border-bottom: none;
}
.cs-agent-filter ul li:hover a {
	border-bottom: 1px dotted #ff600a;
}
.cs-agent-filter ul li.our-agents a i {
    border-radius: 100%;
    color: #fff;
    float: left;
    font-size: 20px;
    height: 22px;
    margin: 0 12px 0 0;
    padding: 4px 0 0 2px;
    width: 22px;
}
.cs-agent-filter ul li span {
	font-size: 14px;
	color: #333;
	margin:0 10px 0 0;
}
.cs-agent-filter ul li a {
	font-size: 12px;
	color: #999;
	margin: 0 20px 0 0;
	padding: 0;
	border: none;
}
.cs-agent-filter .become-agent {
	border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 10px;
} 
.cs-agent-filter .become-agent i {
	float: right;
    margin: 4px 0 0 5px;
}
.cs-agents-filters{
	background: none repeat scroll 0 0 #fff;
    overflow: hidden;
    padding: 0 0 20px;
}

.listNav {
	width: 100%;
	float: left;
	/*margin:0 0 20px 0;*/
	padding: 0 15px;
	background: #fff;
}
.listNav .ln-letters {
	float: left;
	border-radius: 3px;
	border: 1px solid #ccd4d6;
}
.listNav .ln-letters a {
	background-color: #fff;
    color: #999;
    float: left;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 9px;
	position: relative;
}
.listNav .ln-letters a:before {
	position: absolute;
	right: 0;
	top: 4px;
	width: 1px;
	height: 18px;
	background: #d7dddd;
	content: "";
}
.listNav .ln-letters a:last-child:before {
	display: none;
}
.listNav .ln-letters a:hover {
	color: #fff;
}
.listNav .ln-letters a:hover::before{ display: none; }
.listNav .ln-letters a:last-child {
	border: none;
}

/* agent */
.cs-team{
    float: left;
    width: 100%;
}
.cs-filterable{
	float: left;
	width: 100%;
	/*margin: 0 5px;*/
	padding: 20px 0 0;
}
.cs-filterable>li{ list-style:none; text-align:left;}
.cs-directory {
	width: 100%;
	float: left;
	margin: 0 0 5px;
}
.cs-directory article,
.cs-filterable>li{ padding-right: 10px; padding-left: 10px; }
.cs-filterable .post-options{ margin:0; }
.grid_listing {
	/*padding: 0 10px;*/
}
.flexslider.carousel {
	padding: 0 5px 0 20px;
}
.grid_listing article {
	margin-bottom: 20px;
	position: relative;
	/*margin-right: 0;*/
}
.cs-filterable figure,
.grid_listing figure {
	width: 100%;
	float: left;
	position: relative;
	margin: 0 0 12px 0;
}
.cs-filterable figure figcaption,
.cs-directory figure figcaption {
	width: 100%;
	height: 100%;
	float: left;
}
.cs-filterable figure figcaption span,
.cs-directory figure figcaption span {
	position: absolute;
	bottom: 6px;
	left: 6px;
	font-size: 12px;
	color: #fff;
	padding: 0 5px;
	background: rgba(0,0,0,0.5);
}
.cs-filterable figure figcaption span i{ margin: 4px 5px 0 0; }
.cs-directory figure figcaption span i {
	margin: 4px 5px 0 0;
	float: left;
}
.carousel.cs-directory figure figcaption span {
	line-height: 18px;
}
.carousel.cs-directory figure figcaption span i {
    margin: 2px 5px 0 0;
}
/*.grid_listing .grid>li:first-child{ margin: 0; }*/
.grid_listing .grid > li{ 
	background:#fff;
	padding:10px;
	/*width:31.9%;*/
	margin:0 0 10px;
}
.grid_listing .grid figure{
	border:1px solid #e9e9e9;
	padding:3px;
}
.grid_listing .grid .text{ text-align:center; padding:0 12px; }
.cs-filterable .text h5,
.grid_listing .text h5 {
	margin: 0;
	font-weight: 700;
	line-height: 24px;
}
.grid_listing .grid .text p{ 
	float:none;
	font-size:18px;
	line-height:21px;
	border:1px solid #e9e9e9;
	margin:0;
	padding:5px 0;
}
.cs-filterable .text p,
.grid_listing .text p {
	float: left;
	color: #999;
	line-height: 24px;
}
.cs-filterable .text p span,
.grid_listing .text p span {
	color: #ff600a;
}
.cs-directory .grid .post-options{ margin:0 0 14px; }
.grid .post-options li{ text-align:center; }
.grid .post-options li{ float:none; }
.post-options li {
	list-style: none;
	font-size: 12px;
	color: #999;
	float: left;
	line-height: 15px;
	/*margin: 0 10px 0 0;*/
}
.grid .post-options li i{ float:none; }
.post-options li i {
	float: left;
	/*margin: 8px 2px 0 0;*/
	color: #cccccc;
}
.agent-modren .post-options li i,
.default_listing .post-options li i{ /*padding:7px 0;*/}
.entry-content .agentinfo-detail2 .grid_listing .post-options {
	padding: 0;
}
.carousel.grid_listing li article {
	margin-right: 15px;
}

.cs-carouse2 .owl-controls {
	top: -72px;
}
.cs-carouse2.grid_listing {
	padding: 0 20px 10px;
}

/* agent List */
.agent-list article {
	width: 100%;
	float: left;
	padding: 15px;
	margin-bottom: 0;
	border-bottom: 1px solid #e5e5e5;
}
.agent-list figure {
	float: left;
	margin: 0;
}
.agent-list figure img {
	border-radius: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 106px;
    padding: 3px;
    width: 106px;
}
.agent-list figure ~ .text {
	padding: 20px 0 0 125px;
}
.agent-list .text h4 {
	font-weight: 600;
	margin: 0;
	line-height: 22px;
	padding: 12px 0 0;
}
.agent-list .text .post-options li i {
	color: #ccc;
    float: left;
    font-size: 11px;
    margin: 2px 5px 0 0;
    padding: 0;
	background-color: inherit;
}
.agent-list .text i {
	float: right;
	padding: 12px;
	font-size: 18px;
	color: #fff;
	margin: -24px 0 0 10px;
	background-color: #7f7f7f;
}
.agent-list .text p {
	border: 1px solid #f4f4f4;
    color: #999;
    float: right;
    font-size: 18px;
    margin: -24px 0 0;
    padding: 5px 15px;
}

/* agent Modren */
.agent-modren {
	text-align: center;
}
.agent-modren article {
	padding-top: 10px;
}
.agent-modren article.col-md-4 {
	margin: 0 15px 15px 0;
    padding-top: 10px;
    width: 32.111%;
}
.agent-modren article:last-of-type {
	margin-right:0;
}
.agent-modren figure {
	width: 100%;
	float: left;
	padding: 3px;
	margin: 0 0 15px;
	border: 1px solid #e6e6e6;
}
.agent-modren .text {
	width: 100%;
	float: left;
	padding: 0 0 20px 0;
}
.agent-modren .text .post-options {
	margin: 0 0 10px 0;
	width: 100%;
	display: inline-block;
}
.agent-modren .text h2 {
	margin: 0;
	font-weight: 700;
	line-height: 26px;
}
.cs-directory .agent-modren .post-options li {
	display: inline-block;
	float: none;
}
.agent-modren .text p, .about-info .right-info p {
	border: 1px solid #f4f4f4;
    color: #999;
    font-size: 18px;
    margin: 0;
	font-weight: 600;
    padding: 6px 13px 6px 12px;
	display: block;
}
.agent-modren .text p {
	border: 1px solid #e9e9e9;
}
.agent-modren .text p span,
.about-info .right-info p span {
	color: #ff600a;
	font-weight: 600;
}
a.send-msg {
	display: block;
	background-color: #7f7f7f !important;
	color: #fff;
	font-size: 18px;
	padding: 8px 20px;
}
a.send-msg i {
	margin-right: 10px;
}

/* agent Detail */
.agentinfo-detail {
	width: 100%;
	float: left;
	margin: 0 0 10px 0;
}
.agentinfo-detail .about-info {
	border-bottom: 1px solid #f2f2f2;
	margin: 0 0 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.about-info figure {
	float: left;
	width: 250px;
}
.about-info figure ~ .agentdetail-info {
	padding: 5px 0 0 265px;
}
.about-info .agentdetail-info header {
	margin: 0 0 15px;
	padding: 0 0 12px 0;
	width: 100%;
	float: left;
	border-bottom: 1px solid #f2f2f2;
}
.about-info .agentdetail-info header h2 {
	font-size: 22px;
	margin: 0;
	line-height: 24px;
	font-weight: 600;
}
.about-info .agentdetail-info header span {
	font-size: 12px;
	color: #999;
}
.about-info .left-info {
	float: left;
	width: 50%;
}
.about-info .right-info {
	float: right;
	width: 50%;
	margin: 5px 0 0;
}
.about-info .post-options {
	margin-bottom: 20px;
	float: left;
}
.about-info .post-options li {
	font-size: 14px;
	width: 100%;
	line-height: 17px;
}
.about-info .post-options li i {
    color: #cccccc;
    float: left;
    line-height: 15px;
    margin: 2px 7px 0 0;
}
.about-info .post-options li p{
	line-height:17px;
	padding: 0 0 0 19px;
}
.about-info .right-info p,
.about-info a.send-msg {
	float: right;
    margin: 0 0 8px;
    min-width: 250px;
    padding: 9px 0;
    text-align: center;
	position: relative;
}
.about-info a.send-msg{ background: #ff600a !important; }
.about-info .right-info p {
	padding-right: 45px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.about-info .right-info p a:before, .cs-auther .text p:before {
	bottom: -8px;
    content: "";
    height: 42px;
    position: absolute;
    right: 10px;
	height: 100%;
	width: 30px;
	background: url(assets/images/icon-agent.png) no-repeat;
}
.entry-content .grid_listing article {
	padding-top: 0;
	/*margin-right: 0;*/
}
.entry-content .grid_listing figure img {
	border: none;
	padding: 0;
}
.grid_listing .text h6 {
	font-weight: 700;
	margin: 0 0 5px;
	line-height: 16px;
}
.carousel.grid_listing .text h6  {
	margin: 0;
}
.cs-filterable .text .post-options li {
	line-height: 20px;
}
.cs-filterable .text .post-options li i {
	margin: 4px 2px 0 0;
}
.entry-content .grid_listing .post-options li {
	line-height: 16px;
}
.entry-content .grid_listing .post-options li i {
	margin: 2px 2px 0 -2px;
}
.grid_listing .text p.price {
	width: 100%;
	font-size: 20px;
	margin: 0;
}
.grid_listing .text p.price span {
	font-weight: 700;
}
.cs-author-sec {
	width: 100%;
	float: left;
	padding: 10px 20px 10px 12px;
	background-color: #f8f8f8;
}
.cs-author-sec figure {
	border: 1px solid #e6e6e6;
    box-shadow: 0 0 0 3px #fff inset;
    margin: 0 12px 0 0;
    padding: 3px;
}
.cs-author-sec .text {
	float: left;
	padding: 8px 0 0;
}
.cs-author-sec .text h6 {
	font-size: 15px;
	font-weight: 700;
	margin: 0 0 4px;
	line-height: 16px;
}
.cs-author-sec .text .post-options {
	margin: 0;
}
.cs-author-sec .text .post-options li i {
	margin: 0 5px 0 0;
}
.cs-author-sec .right-sec {
	float: right;
	padding: 10px 0 0 0;
}
.cs-author-sec .right-sec p.price {
	float: left;
	font-size: 20px;
	color: #999;
	margin: 0 15px 0 0;
}
.cs-author-sec .right-sec p.price span {
	color: #ff600a;
	font-weight: 700;
}
.cs-author-sec .right-sec i {
	float: left;
	color: #fff;
	width: 29px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	border-radius: 1px;
	font-size: 16px;
	margin: 0 5px 0 0;
	background-color: #d6d6d6;
}
.cs-author-sec .right-sec a {
	color: #fff;
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 4px 10px;
}


/*---  SocialMedia Style ---*/
.socialmedia {
 width: 100%;
 float: left;
}
.socialmedia > h6 {
 line-height: 30px;
 margin-bottom: 0px;
}
.socialmedia ul li {
 float:left;
 margin: 0px 7px 0px 0px;
 list-style: none;
}
.socialmedia ul li a {
 width: 30px;
 height: 30px;
 color: #ffffff;
 text-align: center;
 font-size: 17px;
 float: left;
 background-color: #000;
 line-height: 34px;
}
.socialmedia ul li a i {
 color:#FFF;
}

.agentinfo-detail .about-detail {
	margin-bottom:20px;
}
.about-detail h5 {
	font-weight: 500;
	margin: 0;
}
.opening-hours {
	width: 100%;
	float: left;
}
.about-detail .opening-hours h5 {
	margin: 0 0 10px 0;
}
.opening-hours li {
	float: left;
	width: 30.5%;
	position: relative;
	list-style: none;
	padding: 12px 0 10px;
	margin: 0 0 0 35px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.opening-hours li:first-child {
	margin-left: 0;
}
.opening-hours li span {
	display: block; 
	font-size: 12px;
	color: #999;
	line-height: 17px;
}
.opening-hours li time {
	font-size: 18px;
	color: #333;
}
.opening-hours li i {
	color: #cccccc;
    float: right;
    font-size: 25px;
    margin: -12px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.dynamic-listing {
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.default_listing .col-md-12 {
    padding: 0 20px;
	margin-bottom: 20px;
}
.default_listing article {
	width: 100%;
	float: left;
	padding: 20px;
	margin: 0 0 9px 0;
	border: 1px solid #e9e9e9;
}
.default_listing article:hover {
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.default_listing article figure {
	float: left;
}
.default_listing article figure img {
	padding: 0;
	border: none;
}
.default_listing .cs_thumbsection ~ .content_info {
	padding: 0 0 7px 282px;
}
.default_listing .content_info h4 {
	margin: 0;
	font-weight: 700;
}
.default_listing .post-options {
	float: left;
	margin-bottom: 10px;
}
.default_listing .dr_userinfo, .agent-caption .dr_userinfo {
	width: 100%;
	float: left;
	margin: 0 0 10px;
}
.default_listing .dr_userinfo li, .agent-caption .dr_userinfo li {
	list-style: none;
	width: 50%;
	float: left;
	margin: 0 0 7px 0;
}
.default_listing .dr_userinfo li i,
.agent-caption .dr_userinfo li i {
	width: 22px;
	height: 22px;
	background-color: #ff600a;
	color: #fff;
	font-size: 12px;
	border-radius: 100%;
	float: left;
	text-align: center;
	line-height: 20px;
	margin:0 8px 0 0;
}
.default_listing .dr_userinfo li span.label,
.agent-caption .dr_userinfo li span.label {
	width: 90px;
	padding: 0;
	font-weight: 400;
	text-transform: none;
}
.default_listing .dr_userinfo li span,
.agent-caption .dr_userinfo li span {
	color: #666666;
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.default_listing .content_info p,
.agent-caption .dr_userinfo p {
	font-size: 12px;
	color: #999;
	display: inline-block;
}
.view-all-btn {
}

/*---  Socialmedia Style ---*/
.socialmedia a[data-original-title="Facebook"] {
 background-color: #13497b;
}
.socialmedia a[data-original-title="twitter"] {
 background-color: #03b4ea;
}
.socialmedia a[data-original-title="google-plus"] {
 background-color: #e72f2f;
}
.socialmedia a[data-original-title="instagram"] {
 background-color: #2272bb;
}
.socialmedia a[data-original-title="envelope"] {
 background-color: #ffc20a;
}
/*- Agentinfo Detail2 Style -*/
.agentinfo-detail2 {
	width: 100%;
	float: left;
	margin: 0 0 22px;
}
.agentinfo-detail2 .about-detail {
    float: left;
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 100%;
}
.agentinfo-detail2 .about-detail p {
	padding: 0 20px;
}
.agentinfo-detail2 .cs-section-title {
	margin: 0 0 10px;
    padding: 15px 15px 0;
}
.agentinfo-detail2 .cs-section-title h4 {
	font-weight: 700;
	float: left;
}
.agentinfo-detail2 .dynamic-listing .cs-section-title {
	padding-top: 0;
	padding-right: 0;
}
.agentinfo-detail2 .dynamic-listing .cs-section-title h4 {
	margin: 0;
    padding: 10px 0 0;
}