/* ThemeColor Setup */

.cscolor,.cs-hovercolor:hover, .widget>ul>li, .widget>ul>li>a, .widget_latest_post .infotext h6, .widget_latest_post .infotext h6 a, .pagination ul li:hover a, .pagination ul li a.active,
/* Blog Setup */.cs-blog article:hover h1 a,  .cs-blog-masnery article:hover h3 a {
	color: #3f3d53 !important;
}
.cs-bgcolor,.csbg-color,.csbg-hovercolor:hover, .widget>ul>li:hover, .widget_calendar caption, .page-sidebar .widget.cs-widget-contact, .cs-tags ul li:hover a, .share-post{
	background-color: #3f3d53 !important;
}

.csborder-color,.csborder-hovercolor:hover {
	border-color: #3f3d53 !important;
}


/* Header Color */

.top-bar a { color: #cccccc !important; }
#footer-sec i{ color: #3f3d53; }
#footer-sec strong,#footer-sec h1,#footer-sec h2,#footer-sec h3,#footer-sec h4,#footer-sec h5,#footer-sec h6 { color: #3f3d53; }
.Continue-Readingbtn:hover{
	color: #fff !important; 
}