/* ThemeColor Setup */

.cscolor,.cs-hovercolor:hover, .cs-treatment .cs-nav-tabs li.active a, .footer-nav li a:hover, .navigation > ul > li:hover::after, .navigation > ul > li:hover > a {
	color: #709341 !important;
}
.cs-bgcolor,.csbg-color,.csbg-hovercolor:hover, .cs-read-more, .navigation > ul > li:hover::before, .sub-dropdown > li::before {
	background-color: #709341 !important;
}

.csborder-color,.csborder-hovercolor:hover, .cs-treatment .cs-nav-tabs li.active:before {
	border-color: #709341 !important;
}


/* Header Color */

.top-bar a { color: #cccccc !important; }
#footer-sec i{ color:#55acee; }
#footer-sec strong,#footer-sec h1,#footer-sec h2,#footer-sec h3,#footer-sec h4,#footer-sec h5,#footer-sec h6 { color: #ffffff; }
.Continue-Readingbtn:hover{
	color: #fff !important; 
}