/* ThemeColor Setup */

.cscolor,.cs-hovercolor:hover, .cs-treatment .cs-nav-tabs li.active a, .widget-categories ul li a:hover, .cs-price-table .features li i {
	color: #709341 !important;
}
.cs-bgcolor,.csbg-color,.csbg-hovercolor:hover, .cs-read-more, .cs-treatment .cs-nav-tabs li.active:after, .cs-price-table .sigun_up {
	background-color: #709341 !important;
}

.csborder-color,.csborder-hovercolor:hover, .cs-treatment .cs-nav-tabs li.active:before {
	border-color: #709341 !important;
}


/* Header Color */

.top-bar a { color: #cccccc !important; }
#footer-sec i{ color:#55acee; }
#footer-sec strong,#footer-sec h1,#footer-sec h2,#footer-sec h3,#footer-sec h4,#footer-sec h5,#footer-sec h6 { color: #ffffff; }
.Continue-Readingbtn:hover{
	color: #fff !important; 
}